<div class="container">
	<div class="containerInt">
		<div id="maincontent" style="margin:0 auto; ">
	<div style="border:0px solid green; margin-top:6px; " >
		[[confirm_title]]
		[[confirm_intro]]
		<div class="contain-confirm" style="">
			<div class="conf-order-num" style="">
				[[confirm_order_num]]
				</div>
			<div class="conf-order-date" style="">
				[[confirm_order_date]]
			</div>
			<div class="clear"></div>
		</div>
		<div style="border:0px solid red;">
			<div class="confirm1" style="">
				[[confirm_order_details]]
				[[confirm_paymt_detail]]
				[[confirm_buttons]]
			</div>
			<div class="confirm2" style="">
				[[confirm_bill_to]]
				[[confirm_ship_to]]
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="clear"></div>
	<div style="height:44px;">&nbsp;</div>
</div>
	</div>
</div>