<div>
	[[tpl_top_banner_div]]
</div>


<div class="container">
	<div class="containerInt maincontent ">
		<div class="col-1-vit groupfilters">
			
			[[tr_spec_filters3_on_use]] <!--- filtros por los que se esta filtrando en el momento -->
			<div class="tit-rojo">FILTRAR POR</div>
			[[tr_spec_filters3]]
			
		</div>
		<div class="col-2-vit">
			
		</div>
		<div class="col-3-vit">
			<div class="f-lanzamiento">
				[[tpl_sort_by]]
        	</div>
        		[[div_with_products]]
			<div class="page-nav">
				[[page_nav_grid]]
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
