
<!-- Banner -->
<div class="banner">
	<div class="banner_background" style="background-image:url(/css/disnery/images/banner_background.jpg)"></div>
	<div class="container fill_height">
		<div class="row fill_height">
			<div class="banner_product_image"><img src="/css/disnery/images/banner_product.png" alt=""></div>
			<div class="col-lg-5 offset-lg-4 fill_height">
				<div class="banner_content">
					<h1 class="banner_text">Las mejores marcas del pais</h1>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Characteristics -->
<div class="characteristics">
	<div class="container">
		<div class="row">
			<!-- Char. Item -->
			<div class="col-lg-3 col-md-6 char_col">
				<div class="char_item d-flex flex-row align-items-center justify-content-start">
					<div class="char_icon"><img src="/css/disnery/images/char_1.png" alt=""></div>
					<div class="char_content">
						<div class="char_title">Entrega gratis</div>
						<div class="char_subtitle">desde $ 150.000</div>
					</div>
				</div>
			</div>
			<!-- Char. Item -->
			<div class="col-lg-3 col-md-6 char_col">

				<div class="char_item d-flex flex-row align-items-center justify-content-start">
					<div class="char_icon"><img src="/css/disnery/images/char_2.png" alt=""></div>
					<div class="char_content">
						<div class="char_title">Entrega gratis</div>
						<div class="char_subtitle">desde $ 150.000</div>
					</div>
				</div>
			</div>
			<!-- Char. Item -->
			<div class="col-lg-3 col-md-6 char_col">

				<div class="char_item d-flex flex-row align-items-center justify-content-start">
					<div class="char_icon"><img src="/css/disnery/images/char_3.png" alt=""></div>
					<div class="char_content">
						<div class="char_title">Entrega gratis</div>
						<div class="char_subtitle">desde $ 150.000</div>
					</div>
				</div>
			</div>
			<!-- Char. Item -->
			<div class="col-lg-3 col-md-6 char_col">
				<div class="char_item d-flex flex-row align-items-center justify-content-start">
					<div class="char_icon"><img src="/css/disnery/images/char_4.png" alt=""></div>
					<div class="char_content">
						<div class="char_title">Entrega gratis</div>
						<div class="char_subtitle">desde $ 150.000</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="containerInt">
		[[home_banners_small]]
		[[box2content]]
	</div>
</div>
