
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" class="background-color:#00aced;"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<!-- Slide One - Set the background image for this slide in the line below -->
		<div class="carousel-item active" style="background-image: url('/css/disnery/images/2.png')">
			<div class="carousel-caption d-none d-md-block">
				<h3 style="color:#000080ff;">
					</h3>

			</div>
		</div>
		<!-- Slide Two - Set the background image for this slide in the line below -->
		<div class="carousel-item" style="background-image: url('/css/disnery/images/3.png')">
			<div class="carousel-caption d-none d-md-block">
				<h3 style="color:#000080ff;">
			</h3>

			</div>
		</div>
		<!-- Slide Three - Set the background image for this slide in the line below -->

	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!--
<div class="container">
	<div class="info1">
		<div class="info1-1">
			<div class="container-info1" style="">
				<div class="info1-img">
					<a href=""><img src="/css/estra/images/compra-segura.jpg"></a>
				</div>
				<div class="info1-text">
					<span style="font-weight:bold">Compras</span><br />100% seguras
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="raya">
		</div>
		<div class="info1-2">
			<div class="container-info2" style="">
				<div class="info1-img">
					<a href="/puntos-de-venta/"><img src="/css/estra/images/nuestras-tiendas.jpg"></a>
				</div>
				<div class="info1-text">
					<span style="font-weight:bold">Nuestras Tiendas</span><br />Encuentra la mas cercana
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="raya">
		</div>
		<div class="info1-3">
			<div class="container-info3" style="">
				<div class="info1-img">
					<a href="/productos-amigables-con-el-medio-ambiente/"><img src="/css/estra/images/productos-amigables.jpg"></a>
				</div>
				<div class="info1-text">
					<span style="font-weight:bold">Productos amigables</span><br />con el medio ambiente
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
-->

<div class="container">
	<div class="containerInt">

		<!--
		<div>
			<div style="text-align:center;">
				<h1 class="tpl_titulo">COMPRAR POR CATEGORíA</h1>

			</div>
			<div id="comprar_por_categoria">
				<div class="slick_cat">
					<a href="/c/reciclaje-y-aseo/" data-target="recycle"><img id="slick_img_recycle" src="/css/estra/images/reciclaje-aseo.jpg"></a>
					<div class="tit_slick_reciclaje">
						<a href="/c/reciclaje-y-aseo/" data-target="recycle">
							<div>Reciclaje y aseo</div>
						</a>
					</div>
				</div>
				<div class="slick_cat">
					<a href="/c/industrial/" data-target="industrial"><img id="slick_img_industrial" src="/css/estra/images/industrial.jpg"></a>
					<div class="tit_slick_industrial">
						<a href="/c/industrial/" data-target="industrial">
							<div>Industrial</div>
						</a>
					</div>
				</div>
				<div class="slick_cat">
					<a href="/c/mesa-y-cocina/" data-target="mesa"><img id="slick_img_mesa" src="/css/estra/images/mesa-cocina.jpg"></a>
					<div class="tit_slick_mesa">
						<a href="/c/mesa-y-cocina/" data-target="mesa">
							<div>Mesa y Cocina</div>
						</a>
					</div>
				</div>
				<div class="slick_cat">
					<a href="/c/organizar/" data-target="organizar"><img id="slick_img_organizar" src="/css/estra/images/organizar.jpg"></a>
					<div class="tit_slick_organizar">
						<a href="/c/organizar/" data-target="organizar">
							<div>Organizar</div>
						</a>
					</div>
				</div>
				<div class="slick_cat">
					<a href="/c/infantil/" data-target="infantil"><img id="slick_img_infantil" src="/css/estra/images/infantil.jpg"></a>
					<div class="tit_slick_infantil">
						<a href="/c/infantil/" data-target="infantil">
							<div>Infantil</div>
						</a>
					</div>
				</div>
				<div class="slick_cat">
					<a href="/c/termos-y-neveras/" data-target="Termos y Neveras"><img id="slick_img_termos" src="/css/estra/images/termos-neveras.jpg"></a>
					<div class="tit_slick_termos">
						<a href="/c/termos-y-neveras/" data-target="Termos y Neveras">
							<div>Termos y Neveras</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	-->

		[[home_banners_small]]
		[[box2content]]
		<!--
		<div id="banners2" style="margin-bottom:2em;">
			<div class="banner2l">
				<a href="/ecobotella/"><img src="/css/estra/images/ecobotella.jpg"></a>
			</div>
			<div class="banner2r" >
				<div>
					<div class="banner2rtop1" >
						<a href="/callphone"><img src="/css/estra/images/venta-telefonica.jpg"></a>
					</div>
					<div class="banner2rtop2" >
						<a href="/sip/"><img src="/css/estra/images/sip.jpg"></a>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="banner2rdown" >
					<a href="/infantiles/"><img src="/css/estra/images/infantiles-estra.jpg"></a>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		-->
	</div>
</div>