<div class="container">
	<div class="containerInt">	
		<div id="maincontent" style="">
			<div id="bggray">
				<div>
					<div class="clear" style="height:4px;"></div> 
					<div id="steps_checkout_info">
						<div id="step_1" class="step_resaltado" style="">
							<div id="num_resaltado" style="">1. </div>
							<div>Enviar a</div>
						</div>
						<div id="step_2" class="step_normal" style="">
							<div id="num_normal" style="">2. </div>
							<div><a href="inputcustomer.phtml">Tu Información</a></div>
						</div>
						
						<!--- <div id="step_3" class="step_normal" style="">
							<div id="num_normal" style="">3</div>
							<div><a href="inputdate.phtml">Mensaje</a></div>
						</div> -->
						<div id="step_3" class="step_normal" style="">
							<div id="num_normal" style="">3. </div>
							<div><a href="inputpay.phtml">Revisar & Pagar</a></div>
						</div>
					</div>
					<div class="clear"></div>
					[[tpl_logout]]
					<div>
			<!--			[[tpl_login_box_returning_customers]] -->
					</div>
					<div>
						<div class="hs-cont-form-check">					
							<div id="hs-form-check">
								[[cho_ship_address_form]]
								<div class="clear"></div>	
							</div>
							
							<div id="hs-view-car">
								[[tpl_cart_column]]
							</div>
						</div>
						<div class="clear"></div>	
					</div>		
				</div>
				<div class="clear"></div>
				<div style="height:4em;">&nbsp;</div>
			</div>
		</div>
	</div>
</div>
