<div class="container">
	<div class="containerInt">
		<div id="maincontent" style="">
			<div class="clear" style="height:4px;"></div>
				<div id="steps_checkout_info">
					<div id="step_2" class="step_normal" style="">
						<div id="num_normal" style="">1. </div>
						<div><a href="inputcustomer.phtml">Tu Información</a></div>
					</div>
					<div id="step_1" class="step_normal" style="">
						<div id="num_normal" style="">2. </div>
						<div><a href="inputship.phtml">Enviar a</a></div>
					</div>
					<div id="step_3" class="step_resaltado" style="">
						<div id="num_resaltado" style="">3. </div>
						<div>Mensaje</div>
					</div>
					<div id="step_4" class="step_normal" style="">
						<div id="num_normal" style="">4. </div>
						<div><a href="inputpay.phtml">Revisar & Pagar</a></div>
					</div>
				</div>
				<div class="clear"></div>
				[[tpl_logout]]
				<div style="border:0px solid green;">
					<table border="0" width="100%">
						<tr valign="top">
						<td style="width:65%;">
							<div style="position:relative">
								[[cho_dategift_form]]
								<div id="cho_dategift_message_help" style="position:absolute; top:220px; right:0; width:42%; text-align:center;">
									<div style="color:#f90; margin-bottom:10px; font-size:12px">¿No se te ocurre nada? Escoge un mensaje de esta lista</div>
									<div>
										<img class="messagehelp" src="[[cdn_domain]]/css/floresymas/images/cumple.png" data-mensaje="Cumpleaños" title="Cumpleaños">
										<img class="messagehelp" src="[[cdn_domain]]/css/floresymas/images/corazon.png" data-mensaje="Amor" title="Amor">
										<img class="messagehelp" src="[[cdn_domain]]/css/floresymas/images/grado.png" data-mensaje="Grado" title="Grado">
										<img class="messagehelp" src="[[cdn_domain]]/css/floresymas/images/amistad.png" data-mensaje="Amistad" title="Amistad">
										<img class="messagehelp" src="[[cdn_domain]]/css/floresymas/images/otro.png" data-mensaje="Otro" title="Otro">
									</div>
									<div id="selects-mensajes" style="margin-top: 15px;">
										
									<div>
								</div>
							</div>
							<div class="clear"></div>	
						</td>
						<td style="width:5%;">&nbsp;</td>
						<td style="width:30%;">
							[[tpl_cart_column]]
						</td>
						</tr>
					</table>
					<div class="clear"></div>	
				</div>		
			</div>
			<div class="clear"></div>
			<div style="height:44px; border:1px solid #fff;">&nbsp;</div>
		</div>

	</div>
</div>