<div class="container">
	<div class="containerInt">
		<div id="maincontent" style="">
			<div style="border:0px solid blue; margin-top:16px; margin-bottom:6px;" >
				[[tpl_steps]]
				<div class="clear"></div>
				<div style="z-index:0; border-top:0px solid #efebe5; float:left; ">&nbsp;</div>
				<div class="clear"></div>
				[[tpl_logout]]
				<div>
				</div>
				<div style="border:0px solid green;">
					<table border="0" width="100%">
						<tr valign="top">
							<td style="width:65%;">
								[[box1content]]
								<div class="clear"></div>	
							</td>
						</tr>
					</table>
					<div class="clear"></div>	
				</div>		
			</div>
			<div class="clear"></div>
			<div style="height:4em; ">&nbsp;</div>
		</div>
	</div>
</div>